# Ignorar ambiente virtual
venv/

# Ignorar arquivos compilados do Python
__pycache__/

# Ignorar arquivos de dados baixados e gerados (mantemos o repo limpo)
data/
*.pdf
*.zip
*.csv

# Ignorar configurações de sistema
.DS_Store